#include "Resources.h"

RES_KAWASE_BLOOM_VERT
RES_KAWASE_BLOOM_FRAG

RES_PASSTHROUGH_VERT
RES_MIXER_FRAG
RES_DOF_FRAG

RES_GALLERY_FRAG

RES_SHUTTER

RES_TIMER_GAME_BOTTOM_LEFT
RES_TIMER_GAME_BOTTOM_MIDDLE
RES_TIMER_GAME_BOTTOM_RIGHT
RES_TIMER_GAME_DOT_0
RES_TIMER_GAME_DOT_1

RES_TIMER_POSE_BOTTOM_LEFT
RES_TIMER_POSE_BOTTOM_MIDDLE
RES_TIMER_POSE_BOTTOM_RIGHT
RES_TIMER_POSE_DOT_0
RES_TIMER_POSE_DOT_1

RES_CURSOR_LEFT
RES_CURSOR_RIGHT

RES_WATERMARK